.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    box-sizing: border-box;
    width: 500px;
    border-radius: 10px;
}
.container h1{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}
.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px ;
}
.addbuttons{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 1px;
    background-color: rgb(76, 76, 76);
    border-radius: 10px;
    color: white;
}
.addbuttons button{
    margin: 10px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    font-size: 18px;
}

#password-el{
    background-color: rgba(45, 45, 45, 0.505);
    box-sizing: border-box;
    width: 450px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.description{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.generate button{
    border: none;
    padding: 10px;
    background-color: rgb(102, 102, 102);
    color: rgb(224, 223, 223);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes clickani {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(5px);
    }
}